[Unit]
Description=FunPayAutoUP
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/FunPayAutoUP
ExecStart=/opt/FunPayAutoUP/.venv/bin/python /opt/FunPayAutoUP/funpay_autoup.py --config /opt/FunPayAutoUP/config.ini
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
